<h1>test library button</h1>
<ng-btn-1 [pd]="'15px 25px'">
</ng-btn-1>
<ng-btn-1 [pd]="'20px'">
</ng-btn-1>
<ng-btn-1 [pd]="'25px'">
</ng-btn-1>
<ng-btn-1 [pd]="'30px'">
</ng-btn-1>
<ng-btn-1 [pd]="'35px'">
</ng-btn-1>
<ng-btn-1 [pd]="'40px'">
</ng-btn-1>
<ng-btn-1 [pd]="'45px'">
</ng-btn-1>
<ng-btn-1 [pd]="'50px'">
</ng-btn-1>
<div>
  <ng-btn-1 [color]="'#f00'"  [bgColor]="'#fc0'" [label]="'test 11111111'" (click)="onShow()">
  </ng-btn-1>
  <ng-btn-1 [color]="'#fff'" [fontSize]="'20px'" [bgColor]="'#f03'" [label]="'test input'" (click)="onShow()">
  </ng-btn-1>
  <ng-btn-1 [color]="'#fff'" [mg]="'25'" [fontSize]="'20px'" [bgColor]="'#f03'" [label]="'test input'" (click)="onShow()">
  </ng-btn-1>
</div>

